* { margin: 0; padding: 0; text-decoration: none; }

@font-face { font-family: 'Footer'; src: url(../fonts/ufonts.com_tw-cen-mt-bold.ttf); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Acid'; src: url(../fonts/acid.otf); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Acid'; src: url(../fonts/acid_bold.otf); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Acid'; src: url(../fonts/acid_bold_italic.otf); font-weight: bold; font-style: italic; }
@font-face { font-family: 'Acid'; src: url(../fonts/acid_italic.otf); font-weight: normal; font-style: italic; }
@font-face { font-family: 'AcidMedium'; src: url(../fonts/acid_medium.otf); font-weight: normal; font-style: normal; }
@font-face { font-family: 'AcidMedium'; src: url(../fonts/acid_medium_italic.otf); font-weight: normal; font-style: italic; }

body { color: #000a53; font-family: Acid; }
.wrapper img { width: 100%; }

.row { position: relative; width: 100%; overflow: hidden; }
.col-1 { position: relative; width: 8.33%; }
.col-2 { position: relative; width: 16.66%; }
.col-3 { position: relative; width: 25%; }
.col-4 { position: relative; width: 33.33%; }
.col-5 { position: relative; width: 41.66%; }
.col-6 { position: relative; width: 50%; }
.col-7 { position: relative; width: 58.33%; }
.col-8 { position: relative; width: 66.66%; }
.col-9 { position: relative; width: 75%; }
.col-10 { position: relative; width: 83.33%; }
.col-11 { position: relative; width: 91.66%; }
.col-12 { position: relative; width: 100%; }
.left { float: left; }
.right { float: right; }
.work--text-container { position: absolute; top: 0; bottom: 0; }
.text-on-right { right: 0; }

.text-container .col-4 { width: 32%; }
.text-container .col-5 { width: 40.6%; }
.text-container .col-6 { width: 49%; }
.text-container .col-7 { width: 57.5%; }
.text-container .col-8 { width: 65%; }

.separator { height: 212px; }

.wrapper { margin-bottom: 50px; }
.wrapper.work-page .main-col { max-width: 900px; }
.wrapper.contact .main-col { max-width: 500px; }
.videoWrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }
.videoWrapper.portrait { padding-bottom: 61.8%; width: 40%; left: 30%; }
.videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*  HEADER  */
header { width: 100%; position: fixed; background: transparent; z-index: 10; }
header .top-nav { position: relative; display: block; width: 100%; height: 160px; }
header .top-nav .logo { position: absolute; left: 3em; top: 25px; z-index: 11; }
header .top-nav .logo img { height: 124px; }
header .top-nav .navigation { background: #ffbba5; position: absolute; top: 80px; left: 0; right: 0; height: 69px; padding-left: 170px; padding-right: 3em; }
header .top-nav .navigation-content { position: relative; width: 100%; height: 100%; }
header .top-nav .navigation-content .links { position: absolute; top: 50%; left: 0; right: 0; transform: translateY(-50%); text-align: right; }
header .top-nav .navigation-content .links li { display: inline-block; }
header .top-nav .navigation-content .links li a { padding: 19px 0; margin: 0 1em; font-size: 1.4em; letter-spacing: 2px; font-weight: bold;  color: #000a53; text-decoration: none; transition: 0.1s; }
header .top-nav .navigation-content .links li a.selected,
header .top-nav .navigation-content .links li a:hover { border-bottom: 5px solid #000a53; cursor: pointer; }
header .linkedin { font-size: 35px; position: absolute; top: 18px; right: 1.7em; }
header .linkedin ul li { display: inline-block; margin: 0 5px; }
header .linkedin ul li a img { height: 45px; width: 45px; transition: 0.1s; }
header .mobile-buttons { display: none; position: absolute; top: 0; right: 0; }
header .mobile-buttons img { height: 70px; }

/*  CONTAINERS  */
.section-title { display: inline-block; padding-left: 3em; padding-right: 10px; margin: 30px 0;  color: #000a53; background: #ffbba5; }
.section-title h2 { transform: translateY(-50%); font-size: 2.5em; line-height: 0.7; font-weight: bold; }

.main-col { max-width: 1100px; margin: auto; padding: 0 3em; }
.image-container img { width: 100%; }
.image-container.landscape img { width: 90%; }
.image-container.portrait img { width: 70%; }
.image-container.left img { float: right; }

.main-col .row { transition: 0.5s; }
.main-col .row:hover .image-container img { -webkit-filter: grayscale(100%); filter: grayscale(0%); }
.main-col .row .image-container img { transition: 0.5s; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.main-col .row:hover .image-container.landscape img { width: 93%; }
.main-col .row:hover .image-container.portrait img { width: 73%; }
.main-col .text-container { position: relative; height: 100%; width: 100%; color: #000a53; }
.main-col .text-on-right .text-container .text-container-centered { position: absolute; left: 0; right: 0; top: 50%; padding-right: 85px; transform: translateY(-50%); border: 1px solid #000a53; border-left: 0; border-right: 0; }
.main-col .text-on-left .text-container .text-container-centered { position: absolute; left: 0; right: 0; top: 50%; padding-left: 85px; transform: translateY(-50%); border: 1px solid #000a53; border-left: 0; border-right: 0; }
.main-col .text-container .text-container-centered span { display: inline-block; text-align: center; }
.main-col .text-container .text-container-centered .top-row { border-bottom: 1px solid #000a53; font-size: 30px; font-weight: bold; padding: 10px 0; }
.main-col .text-container .text-container-centered .top-row .second { border-left: 1px solid #000a53; }
.main-col .text-container .text-container-centered .bottom-row { padding: 10px 0; }
.main-col .text-container .text-container-centered .bottom-row .first { font-style: italic; }
.main-col .text-container .text-container-centered .bottom-row .second { font-size: 1.5em; border-left: 1px solid #000a53; }
.main-col .text-container .text-container-centered .bottom-row.reversed .first { border-left: 1px solid #000a53; border-right: 0; }
.main-col .text-container .text-container-centered .bottom-row.reversed .second { border-left: 0; }
.main-col .text-container .work-number { position: absolute; top: 50%; font-size: 70px; color: #ffbba5; border-top: 1px solid #000a53; font-weight: bold; width: 76px; text-align: center; }
.main-col .text-container .work-number.two-rows-bottom-thick { width: 100px; }
.main-col .text-container .work-number.two-rows-bottom-thin { width: 87px; }
.main-col .text-on-right .text-container .work-number { transform: translateY(-50%) rotate(-90deg); right: 0; }
.main-col .text-on-right .text-container .work-number.two-rows-bottom-thick { right: -14px; }
.main-col .text-on-left .text-container .work-number { transform: translateY(-50%) rotate(90deg); left: 0; }
.main-col .text-on-left .text-container .work-number.two-rows-bottom-thin { left: -7px; }
.bottle { text-align: center; }
.bottle img { max-width: 600px; }

#about { margin-top: 50px; }
.label-col { padding: 0 3em; }

/*  WORK PAGES  */
.work-page .work-header .title-container { letter-spacing: 2px; margin-bottom: 0.5em; }
.work-page .work-header h2 { font-size: 2.5em; }
.work-page .work-header h3 { font-size: 1.6em; }
.work-page .work-header .main-image { text-align: center; }
.work-page .work-header .main-image .two-pictures-on-row img { display: inline-block; width: 45%; margin: 2% 0; }
.work-page .work-header .main-image img { width: 100%; height: auto; margin: 10px 0; }
.work-page .work-header .main-image .videoWrapper { margin: 10px 0; }
.work-page .work-header .main-image .four-grid .left { text-align: left; }
.work-page .work-header .main-image .four-grid .right { text-align: right; }
.work-page .work-header .main-image .four-grid img { width: 98%; margin: 1.6% 0; }
.work-page .work-header .main-image img.portrait { width: 50%; }
.work-page .work-header .main-image img.smaller { width: 55%; }
.work-page .work-content { margin-top: 20px; }
.work-page .work-content .credit-group { margin-bottom: 20px; }
.work-page .work-content .credits { font-size: 1.5em; }
.work-page .work-content .description { font-size: 1.5em; }
.work-page .work-content .description p { margin-bottom: 20px; }
.work-page .work-content .description .main-description  { font-weight: bold; }
.work-page .work-bottom .extra-pics { text-align: center; }
.work-page .work-bottom .extra-pics .pic-small { text-align: center; }
.work-page .work-bottom .extra-pics .pic-small img { width: 100%; }
.work-page .work-bottom .extra-pics .pic-small .portrait { padding-bottom: 57%; width: 30%; left: 35%; }
.work-page .work-bottom .extra-pics .two-pictures-on-row { text-align: left; }
.work-page .work-bottom .extra-pics .two-pictures-on-row img { display: inline-block; width: 40%; margin: 10px 3%; }

/*  CONTACT US  */
.contact-head { margin-bottom: 20px; }
.contact-head h2 { font-size: 4em; margin-bottom: 10px; padding-right: 10px; }
.contact-head p { font-size: 1.3em; margin-bottom: 15px; padding-right: 10px; }

/*  FOOTER  */
footer { position: relative; background: #ffbba5; height: 69px; color: #000a53; font-family: Acid; font-weight: bold; letter-spacing: 2px; font-size: 1.3em; }
footer .copyright { position: absolute; left: 3em; top: 50%; transform: translateY(-50%); }
footer .linkedin { position: absolute; left: 3em; right: 3em; top: 50%; transform: translateY(-50%); text-align: center; }
footer .email { position: absolute; right: 3em; top: 50%; transform: translateY(-50%); }
footer .footer-container > div { display: inline-block }
footer .linkedin ul li { display: inline-block; margin: 0 10px; }
.linkedin ul li a img { width: 30px; vertical-align: middle; }
.linkedin ul li a span { color: #000a53; margin: 0 10px;}

@media (max-width: 1040px) {
    .main-col .text-container .text-container-centered .top-row { font-size: 21px; }
    .main-col .text-container .text-container-centered .bottom-row { font-size: 11px; }
    .main-col .text-container .work-number { width: 59px; }
    .main-col .text-container .work-number.two-rows-bottom-thin { width: 62px; }
    .main-col .text-container .work-number.two-rows-bottom-thick { width: 69px; }
    footer { font-size: 15px; }
}

@media (max-width: 850px) {
    /*  HEADER  */
    header .mobile-buttons { display: inherit; }
    header .mobile-buttons #close-menu-button { display: none; }
    .separator { height: 100px; }
    header .top-nav { height: 70px; }
    header .linkedin { display: none; }
    header .top-nav .logo img { height: 55px; }
    header .top-nav .logo { top: 6px; left: 50%; transform: translateX(-50%); }
    header .top-nav .navigation { top: 0; padding: 0; }
    header .top-nav .navigation-content { display: none; }
    header .top-nav .navigation-content .links { top: 69px; transform: none; }
    header .top-nav .navigation-content .links li { display: block; text-align: center; background: #000a53; border-top: 1px solid #ffbba5; padding: 1em 0; }
    header .top-nav .navigation-content .links li a { color: #ffbba5; padding: 0; }

    .wrapper { margin-bottom: 10px; }
    .section-title { margin: 15px 0; }
    .section-title h2 { font-size: 2em; }

    /*  MAIN PAGE  */
    .col-4 { width: 100%; display: inline-block; }
    .col-5 { width: 100%; display: inline-block; }
    .col-6 { width: 100%; display: inline-block; }
    .col-7 { width: 100%; display: inline-block; }
    .col-8 { width: 100%; display: inline-block; }
    .image-container.landscape img { width: 100%; }
    .image-container.portrait img { width: 100%; }
    .work-page .work-header .main-image img.portrait { width: 100%; }
    .work-page .work-header .main-image img.smaller { width: 100%; }
    .work--text-container { position: relative; }
    .main-col .text-on-right .text-container .text-container-centered { position: relative; transform: none; margin: 20px 0; }
    .main-col .text-on-left .text-container .text-container-centered { position: relative; transform: none; margin: 20px 0; }
    .label-col { padding: 0; }
    .main-col .row .image-container img { filter: none; }
    .main-col .text-container .work-number { top: 40%; }
    #work .main-col .row { display: flex; flex-flow: column; }
    #work .main-col .row .image-container.right { order: 1; }
    #work .main-col .row .text-on-left { order: 2; }
    .main-col .row:hover .image-container.landscape img { width: inherit; }
    .main-col .row:hover .image-container.portrait img { width: inherit; }

    /*  FOOTER  */
    footer .copyright { display: none; }
    footer .linkedin { text-align: right; }
    footer .email { left: 3em; right: inherit; }
}

@media (max-width: 600px) {
    .main-col { padding: 0 10px; }
    footer .linkedin { left: 10px; right: 10px; }
    footer .linkedin ul li a span { display: none; }
    footer .email { left: 10px; }
    .main-col .text-container .text-container-centered .top-row { font-size: 12px; }
    .main-col .text-container .text-container-centered .bottom-row { font-size: 7px; }
    .main-col .text-container .work-number { font-size: 55px; }
    .main-col .text-on-right .text-container .text-container-centered { margin: 10px 0; }
    .main-col .text-on-left .text-container .text-container-centered { margin: 10px 0; }
    .main-col .text-container .work-number { width: 42px; }
    .main-col .text-container .work-number.two-rows-bottom-thin { width: 38px; }
    .main-col .text-on-left .text-container .work-number.two-rows-bottom-thin { left: 0; }
    .main-col .text-container .work-number.two-rows-bottom-thick { width: 49px; }
    .main-col .text-on-right .text-container .work-number.two-rows-bottom-thick { right: 0; }
    .main-col .text-on-left .text-container .text-container-centered { padding-left: 60px; }
    .main-col .text-on-right .text-container .text-container-centered { padding-right: 60px; }
}
